* {
	box-sizing: border-box;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.5rem;
}
.fullscreen {
	height: 80vh;
}
nav {
	display: flex;
	width: 100%;
	justify-content: center;
	background-color: #fff;
	position: fixed;
	height: 60px;
	top: 0;
	left: 0;
}
nav a,
.card-body a,
#card-about a {
	text-decoration: none;
	color: black;
	padding: 5px;
	margin: 5px 10px;
	border: 3px solid black;
	font-family: monospace;
}

nav a:hover,
.card-body a:hover,
#card-about a:hover {
	transform: translateY(10%);
	background-color: #555;
}

h1 {
	text-align: center;
}

li {
	padding: 10px;
}

.container {
	display: flex;
	background-color: #eee;
	justify-content: center;
	border: 1px solid red;
	margin-top: 40px;
}

.card {
	margin-top: 40px;
	border: 3px solid black;
	border-radius: 15px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 4px 4px 10px 1px black;
}

.card-img {
	text-align: center;
}
#card-about-stats {
	text-align: center;
}
.card-body {
	text-align: center;
	padding: 10px;
}

.footer {
	text-align: center;
}

@media (max-width: 500px) {
	body {
		font-size: 1.2rem;
	}
}
